<!DOCTYPE html>
<html>
<head>
    <title>Titanic</title>
</head>
<body>
    <h2>Enter your info to predict</h2>
    <form action="/Aboli" method="POST">
        Pclass: <input type="text" name="pclass"><br><br>
        Sex: <input type="text" name="sex"><br><br>
        Age: <input type="number" name="age"><br><br>
        SibSp: <input type="number" name="sibSp"><br><br>
        Parch: <input type="number" name="parch"><br><br>
        Fare: <input type="float" name="fare"><br><br>
        Embarked: <input type="text" name="embarked"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

